/* Customize the advanced audio player's appearance here */
.audio-player {
    width: 400px;
    margin: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#current-time, #total-time {
    margin-top: 10px;
}

.hero-button2{
    background-color: #EEEEEE;
    color: #3D3D3D;
    border-color: #3D3D3D;
}
.hero-button2:hover{
    background-color: #3D3D3D;
    border-color: transparent;
    color: #EEEEEE;
}